{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | PrivacySpy</title>
    <script defer src="{% static 'core/js/fontawesome.js' %}"></script>
    <script src="{% static 'core/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% sass_src 'core/css/bulma.sass' %}">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'core/css/noscript.css' %}">
    </noscript>


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'core/img/safari-pinned-tab.svg" color="#4d77ff">
    <link rel="shortcut icon" href="{% static 'core/img/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{% static 'core/img/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {% include 'core/navbar.html' %}
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <script src="{% static 'core/js/core.js' %}"></script>
</body>

</html>