{% extends 'core/base.html' %}

{% block content %}
<h1 class="title massive">Submit a Suggestion</h1>
<p class="subtitle">Use this page to submit a suggestion or correction. Thanks!</p>
{% include 'core/edit_warning.html' %}
<div class="columns">
    <div class="column is-6">
        {% if error %}
        <div class="notification is-danger">{{error}}</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea name="text" class="textarea"
                        placeholder="Please explain your suggestion or correction. Please try to provide citations where necessary!">{% if text %}{{text}}{% endif %}</textarea>
                </div>
            </div>
            {% if policy %}
            <input type="hidden" name="policy" value="{{policy.id}}">
            <div class="field">
                <label class="label">Product</label>
                <div class="control">
                    <input type="text" class="input" value="{{policy.product.name}}" disabled>
                </div>
            </div>
            {% endif %}
            {% if rubric_selection %}
            <input type="hidden" name="rubric-selection" value="{{rubric_selection.id}}">
            <div class="field">
                <label class="label">Rubric Question</label>
                <div class="control">
                    <input type="text" class="input" value="{{rubric_selection.option.question.text}}" disabled>
                </div>
            </div>
            {% endif %}
            <button type="submit" class="button is-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
