{% extends 'core/base.html' %}

{% block content %}
<h1 class="title massive">Submit Suggestion</h1>
<p class="subtitle">Use this page to submit a suggestion or correction. Thanks!</p>
{% if error %}
<div class="notification is-danger">{{error}}</div>
{% endif %}
<div class="columns">
    <div class="column is-6">
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea name="text" class="textarea"
                        placeholder="Please explain your suggestion or correction. Please try to provide citations where necessary!">{% if text %}{{text}}{% endif %}</textarea>
                </div>
            </div>
            {% if policy %}
            <div class="field">
                <label class="label">Policy</label>
                <div class="control">
                    <div class="select">
                        <select name="policy" disabled>
                            <option value="{{policy.id}}" selected>{{policy.product.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if rubric_selection %}
            <div class="field">
                <label class="label">Rubric Question</label>
                <div class="control">
                    <div class="select">
                        <select name="rubric_selection" disabled>
                            <option value="{{rubric_selection.id}}" selected>{{rubric_selection.option.question.text}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}
            <button type="submit" class="button is-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}