{% extends 'core/base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-4">
        <h1 class="title">Delete Account</h1>
        <p>Are you sure you want to delete your account? This will irreversibly delete all records of you from our
            database.</p>
        <br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="button is-danger">Delete Account</button>
        </form>
        <br>
        <a href="{% url 'account' %}" class="button is-link">No, take me back</a>
    </div>
</div>
{% endblock %}