{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<h1 class="title massive" style="margin-bottom: 12px;">Directory</h1>
<div class="columns">
    <div class="column is-4">
        <form method="GET" id="directory-search">
            <div class="control has-icons-right min-width-20">
                <input class="input search-input is-large" name="search" type="text"
                    placeholder="Search {{num_policies|intcomma}} privacy policies..."
                    {% if search != None %}value="{{search}}" {% endif %}>
                <span class="icon is-small is-right has-cursor-pointer" onclick="$(this).submit()">
                    <i id="directory-search-icon" class="fas fa-search"></i>
                </span>
            </div>
        </form>
    </div>
</div>

<br>
{% if search %}
<div class="notification">
    Your search yielded {{products|length|intcomma}} results.
    {% if overflow %}
    Only the first 50 results are shown. If you don't see what you are looking for, try narrowing your search.
    {% endif %}
    <a href="{% url 'directory' %}">Clear search.</a>
</div>
{% endif %}
<br>

<div class="columns is-multiline">
    {% for product in products %}
    <div class="column is-4">{% include 'core/product_box.html' %}</div>
    {% endfor %}
</div>

{% endblock %}