{% load markdown_deux_tags %}

<div class="rubric-selection-editor" id="question-id-{{question.id}}">
    <h3 class="title is-size-4">{{question.text}} {% if question.answer == None %}<span
            class="tag is-warning is-medium">Unanswered</span>{% endif %} <span
            class="tag is-light is-medium">{{question.max_value}}</span></h3>
    {% if question.description %}
    <p class="subtitle">{{question.description|markdown}}</p>
    {% endif %}
    <div class="columns">
        <div class="column is-4">
            <div class="field">
                <label class="label">Selection</label>
                <div class="select">
                    <select name="{{question.id}}-selection">
                        <option value="unset" {% if question.answer == None %}selected{% endif %}>Unset (will
                            clear entry)
                        </option>
                        {% for option in question.options %}
                        <option value="{{option.id}}" {% if question.answer.option == option %}selected{% endif %}>
                            {{option.text}} {% if option.description %}({{option.description}}){% endif %}
                            [{{option.value}}]</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>
        <div class="column">
            <div class="field">
                <label class="label">Citation</label>
                <textarea class="textarea" name="{{question.id}}-citation"
                    placeholder="Cite the relevant part of the privacy policy here...">{% if question.answer %}{{question.answer.citation}}{% endif %}</textarea>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Note</label>
                <textarea class="textarea" name="{{question.id}}-note"
                    placeholder="Anything special to add? This usually isn't necessary.">{% if question.answer %}{{question.answer.note}}{% endif %}</textarea>
            </div>
        </div>
    </div>
</div>