{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <figure class="image is-64x64">
            <img src="{{policy.product.icon}}" alt="Icon for {{product.name}}">
        </figure>
    </div>
    <div class="column">
        <h1 class='title'>Editing: <span class="has-text-weight-normal">{{policy.product.name}} ({{policy.id}})</span>
        </h1>
        <p class='subtitle'>{{policy.product.description}}</p>
    </div>
</div>
<div class="tabs">
    <ul>
        <li class="tab-helper">Jump to:</li>
        <li class="has-text-weight-medium"><a href="#edit-policy-overview">Metadata</a></li>
        <li><a class="has-text-weight-medium" href="#edit-policy-highlights">Highlights</a></li>
        <li><a class="has-text-weight-medium" href="#edit-policy-ratings">Ratings</a></li>
        <li><a class="has-text-weight-medium" href="#edit-policy-suggestions">Suggestions</a></li>
        <li><a class="has-text-weight-medium" href="/admin/core/privacypolicy/{{policy.id}}/change/">Admin Panel</a>
        </li>
        <li><a class="has-text-weight-medium"
                href="{% url 'product' policy.product.slug %}?revision={{policy.id}}">Public View</a></li>
    </ul>
</div>
{% for action in actions %}
<div class="notification">
    {{action}}
</div>
{% endfor %}
<div class="columns" id="edit-policy-metadata">
    <div class="column is-2">
        <h1 class="is-size-3 has-text-weight-light">Metadata</h1>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light">Added</span>
                    <span class="tag is-primary">{{policy.added|naturalday|capfirst}}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light">Updated</span>
                    <span class="tag is-primary">{{policy.updated|naturalday|capfirst}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <hr>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="section" value="metadata">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Out of Date</label>
                </div>
                <div class="field-body">
                    <div class="select">
                        <select name="out-of-date">
                            <option value="True" {% if policy.out_of_date %}selected{% endif %}>Yes</option>
                            <option value="False" {% if not policy.out_of_date %}selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Erroneous</label>
                </div>
                <div class="field-body">
                    <div class="select">
                        <select name="erroneous">
                            <option value="True" {% if policy.erroneous %}selected{% endif %}>Yes</option>
                            <option value="False" {% if not policy.erroneous %}selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Original URL</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input name="original-url" class="input" type="text" placeholder="https://..."
                            value="{{policy.original_url}}">
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Published</label>
                </div>
                <div class="field-body">
                    <div class="select">
                        <select name="published">
                            <option value="True" {% if policy.published %}selected{% endif %}>Yes</option>
                            <option value="False" {% if not policy.published %}selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                </div>
                <div class="field-body">
                    <button type="submit" class="button is-link">Save Metadata</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="columns" id="edit-policy-metadata">
    <div class="column is-2">
        <h1 class="is-size-3 has-text-weight-light">Highlights</h1>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-light">Present</span>
                {% if policy.highlights_json|length == 0 %}
                <span class="tag is-danger">No</span>
                {% else %}
                <span class="tag is-success">Yes</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <hr>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="section" value="highlight-by-url">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">URL to query</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input" name="source-url" type="text" placeholder="https://..."
                            value="{{policy.original_url}}">
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                </div>
                <div class="field-body">
                    <button type="submit" class="button is-link">Highlight by URL</button>
                </div>
            </div>
        </form>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="section" value="highlight-by-plaintext">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Page text</label>
                </div>
                <div class="field-body">
                    <div class="control is-fullwidth">
                        <textarea class="textarea" name="source-text"
                            placeholder="Privacy policy contents..."></textarea>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                </div>
                <div class="field-body">
                    <button type="submit" class="button is-link">Highlight by raw text</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="columns" id="edit-policy-ratings">
    <div class="column is-2">
        <h1 class="is-size-3 has-text-weight-light">Ratings</h1>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light">Answered</span>
                    <span
                        class="tag is-primary">{{policy.rubric_selections|length}}/{{policy.questions_with_selections|length}}</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light">Score</span>
                    <span class="tag is-primary">{{policy.score|floatformat:"-1"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <hr>
        <form method="POST">
            <input type="hidden" name="section" value="ratings">
            {% csrf_token %}
            {% for question in rubric_questions %}
            {% include 'core/edit_rubric_selection.html' %}
            <hr>
            {% endfor %}
            <button type="submit" class="button is-link">Save Ratings</button>
        </form>
    </div>
</div>
<div class="columns" id="edit-policy-ratings">
    <div class="column is-2">
        <h1 class="is-size-3 has-text-weight-light">Suggestions</h1>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light">Open Suggestions</span>
                    <span class="tag is-primary">{{policy.suggestions|length}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <hr>
        {% for suggestion in policy.suggestions %}
        {% include 'core/suggestion.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}