{% load markdown_deux_tags %}
{% load static %}

<noscript>
<div class="notification is-warning">Unfortunately, due to the experimental nature of highlighted policy snapshots,
    they are not currently available without JavaScript enabled.</div>
    <br>
</noscript>
{% if policy.highlighted_snapshot == "" %}
<div class="notification">
    No highlighted policy snapshot has been created for this privacy policy. To view the policy at its original location, <a href="{{policy.original_url}}" target="_blank">click here</a>.
</div>
<div class="expand-highlights">
    <button class="button is-dark is-outlined" disabled>Highlighted Snapshot Not Available</button>
</div>
{% else %}
<div class="notification">
    Highlighted policy snapshots are a highly experimental feature that provide an annotated version of the privacy
    policy (displayed in a simplified 'reader view') with automatically-generated highlights. This feature is still in its
    early stages, so apologies if things don't look right!
</div>
<div class="modal {% if request.get.highlights %}is-active{% endif %}" id="highlights-modal">
    <div class="modal-background" onclick="closeHighlights()"></div>
    <div class="modal-content">
        <p class="heading has-text-light has-text-centered">Experimental Highlighted Snapshot (Alpha)</p>
        <article class="content box is-tall">
            {{policy.highlighted_snapshot|safe}}
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeHighlights()"></button>
</div>
<div class="expand-highlights">
    <button class="button is-dark is-outlined" onclick="openHighlights()">Show Experimental Highlighted
        Snapshot</button>
</div>
<script src="{% static 'core/js/highlights.js' %}"></script>
{% endif %}