{% extends 'core/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block content %}
<section class="hero is-medium">
    <div class="hero-body" id="titlepane">
        <div class="columns reverse-order-columns">
            <div class="column is-fullwidth">
                <h1 class="title massive">
                    We track privacy.
                </h1>
                <!-- {% include 'core/rating-divider.html' %} -->
                <div class="is-centered-mobile">
                    <h2 class="subtitle" id="header-subtitle">
                        PrivacySpy <span class="tagline-highlight">rates</span>, <span
                            class="tagline-highlight">highlights</span>, and <span
                            class="tagline-highlight">monitors</span>
                        {{total_policies}} privacy policies. Understand how your data is being used.
                    </h2>
                    <a class="button is-primary is-medium" href="{% url 'directory' %}">
                        Search the Directory
                    </a>
                    <div class="is-hidden-desktop">
                        <br></div>
                    <a class="button is-primary is-medium is-outlined">
                        Install the Extension
                    </a>
                </div>
            </div>
            <div class="column is-4 is-centered-mobile">
                <img src="{% static 'core/img/fingerprint_graphic.svg' %}" height="100%" class="homepage-image">
            </div>
        </div>
    </div>
</section>
<hr class="is-40-width">
<section class="hero is-normal is-fullwidth">
    <div class="hero-body">
        <div class="columns">
            {% for product in featured_products %}
            <div class="column">
                {% include 'core/product_box.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<hr class="is-40-width">
<section class="hero is-normal is-fullwidth">
    <div class="hero-body">
        <div class="columns has-text-centered">
            <div class="column infopane">
                <h3 class="title is-size-3">Ratings</h3>
                <p>We rate our policies using a consistent and vetted rubric. You can understand the key features and
                    drawbacks
                    of any rated policy at a glance.</p>
            </div>
            <div class="column infopane">
                <h3 class="title is-size-3">Highlights</h3>
                <p>We use natural language processing to bring your attention to key elements of privacy policies. After
                    all,
                    reading something is better than reading nothing.</p>
            </div>
            <div class="column infopane">
                <h3 class="title is-size-3">Monitoring</h3>
                <p>We send you updates when privacy policies you follow are updated&mdash;so you can stay on top of your
                    privacy, even as policies change over time.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}