{% load humanize %}

{% if policy == None %}
<div class="notification is-danger">
    Our database does not contain a privacy policy for this product.
</div>
{% else %}
<div class="tabs">
    <ul>
        <li class="tab-helper">Jump to:</li>
        <li class="has-text-weight-medium"><a href="#policy-overview">Overview</a></li>
        <li><a class="has-text-weight-medium" href="#policy-ratings">Ratings</a></li>
        <li><a class="has-text-weight-medium" href="#policy-revisions">Revisions</a></li>
        <li><a class="has-text-weight-medium" href="#policy-highlights">Highlights</a></li>
        <li><a class="has-text-weight-medium" href="{% url 'edit_policy' policy.id %}">Edit</a></li>
    </ul>
</div>
<div class="columns reverse-order-columns">
    <div class="column is-8">
        <br>
        <div id="policy-ratings">
            {% for selection in policy.rubric_selections %}
            {% include 'core/rubric_selection.html' %}
            {% endfor %}
        </div>
        {% with policy.parse_highlights as highlights %}
        <br>
        <h4 class="is-size-4 has-text-weight-light">Highlighted Privacy Policy</h4>
        <br>
        <div id="policy-highlights">
            {% include 'core/highlights.html'%}
        </div>
        {% endwith %}
    </div>
    <div class="column is-offset-1" id="policy-overview">
        <h3 class="is-size-1 has-text-weight-bold">
            <span class="policy-score">
                {% if policy.score > -1 %}
                {{policy.score|floatformat:"-1"}}<span class="rating-total">/10</span>
                {% else %}
                Unrated
                {% endif %}
            </span>
        </h3>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Flagged as Erroneous</span>
                    {% if policy.out_of_date or policy.erroneous %}
                    <span class="tag is-danger">Yes</span>
                    {% else %}
                    <span class="tag is-success">No</span>
                    {% endif %}
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">Revisions</span>
                    <span class="tag is-info">{{policy.revisions|length}}</span>
                </div>
            </div>
        </div>
        <br>
        <div class="policy-column-stat">
            <div class="heading">Version Added</div>
            <p>{{policy.added|naturalday|capfirst}}</p>
        </div>
        <div class="policy-column-stat">
            <div class="heading">Ratings Updated</div>
            <p>{{policy.updated|naturalday|capfirst}}</p>
        </div>
        <div class="policy-column-stat">
            <div class="heading">Original Location</div>
            <a class="button is-link is-small is-outlined" href="{{policy.original_url}}" target="_blank">Open in New
                Tab</a>
        </div>
    </div>
</div>
{% endif %}