<a href="{% url 'product' product_slug=product.slug %}">
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{product.icon}}" alt="Icon for {{product.name}}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content columns">
                    <div class="column">
                        <p>
                            <strong>{{product.name}}</strong>
                            <br>
                            {{product.description}}
                        </p>
                    </div>
                    <div class="column is-narrow">
                        <h2 class="title is-size-2">{{product.current_policy.score|floatformat:"-1"}}</h2>
                    </div>
                </div>
            </div>
        </article>
    </div>
</a>