{% extends 'core/base.html' %}

{% block content %}
<div class="level">
    {% if product.icon %}
    <div class="column is-narrow">
        <figure class="image is-96x96">
            <img src="{{product.icon}}" class="is-rounded" alt="Icon for {{product.name}}">
        </figure>
    </div>
    {% endif %}
    <div class="column">
        <h1 class='title massive'>{{product.name}}</h1>
        <p class='subtitle is-slightly-right'>{{product.description}}</p>
    </div>
    {% if user.is_authenticated %}
    <div class="column is-narrow is-centered-mobile">
        <form method="POST">
            {% csrf_token %}
            {% if watching %}
            <input type="hidden" name="action" value="unwatch">
            <button type="submit" class="button is-primary is-outlined">- Unwatch</button>
            {% else %}
            <input type="hidden" name="action" value="watch">
            <button type="submit" class="button">+ Watch</button>
            {% endif %}
        </form>
    </div>
    {% endif %}
</div>
{% include 'core/policy.html' %}
{% endblock %}