{% extends 'core/base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        {% if product.icon %}
        <figure class="image is-96x96">
            <img src="{{product.icon}}" class="is-rounded" alt="Icon for {{product.name}}">
        </figure>
        {% endif %}
    </div>
    <div class="column">
        <h1 class='title massive'>{{product.name}}</h1>
        <p class='subtitle is-slightly-right'>{{product.description}}</p>
    </div>
</div>
{% include 'core/policy.html' %}
{% endblock %}