<a href="{% url 'product' product_slug=product.slug %}">
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{product.icon}}" class="is-rounded" alt="Icon for {{product.name}}">
                </figure>
            </div>
            <div class="media-content">
                <p>
                    <strong>{{product.name}}</strong>&nbsp;<span class="product-box-rating has-text-grey">
                        {% if product.current_policy.score > -1 %}{{product.current_policy.score|floatformat:"-1"}}/10{% else %}Unrated{% endif %}</span>
                    <br>
                    {{product.description}}
                </p>
            </div>
        </article>
    </div>
</a>