<a href="{% url 'product' product_slug=product.slug %}">
    <div class="box">
        <article class="media">
            {% if product.icon %}
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{product.icon}}" class="is-rounded" alt="Icon for {{product.name}}">
                </figure>
            </div>
            {% endif %}
            <div class="media-content is-upped">
                <p class="is-size-5">
                    <strong>{{product.name}}</strong>&nbsp;<span class="product-box-rating has-text-grey">
                        {% if product.current_policy.score > -1 %}{{product.current_policy.score|floatformat:"-1"}}/10{% else %}Unrated{% endif %}</span>
                </p>
                <p>{{product.description}}</p>
            </div>
        </article>
    </div>
</a>