{% extends 'core/base.html' %}

{% block content %}
<div class="text is-40-width">
    <h1 class="title massive" style="margin-bottom: 12px;">Terms &amp; Privacy</h1>
    <!-- TODO -->
    <div class="content">
        <p class="has-text-grey">Updated September 13th, 2019.</p>
        <p>We want to treat you well. We also need to protect ourselves from unnecessary legal exposure and ensure transparency,
            which is why this page exists. For a (non-binding) overview of our Privacy Policy, see its <a
                href="https://privacyspy.org/product/privacyspy">entry</a> in the PrivacySpy database. As for our Terms
            of Service,
            here is a (non-binding) summary of the key points:
        </p>
        <p>
            <ul>
                <li>Don't break the law while using our site, and don't use our site to break the law;</li>
                <li>Feel free to post PrivacySpy's materials under the Creative Commons <a
                        href="http://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA</a> license;</li>
                <li>The data on this site might be wrong, but we do our best to keep everything accurate (and you can
                    always help correct our information yourself by submitting a suggestion);</li>
                <li>We don't provide legal advice, so <i>please</i> do not consider anything here to be legal advice.</li>
            </ul>
        </p>
        <h3>1. Terms</h3>
        <p>By accessing the website at <a href="https://privacyspy.org">https://privacyspy.org</a>, you are agreeing to
            be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible
            for compliance with any applicable local laws. If you do not agree with any of these terms, you are
            prohibited from using or accessing this site. The materials contained in this website are protected by
            applicable copyright and trademark law (see section <a href="#cc">2.b</a>).</p>
        <h3>2. Use License</h3>
        <ol type="a">
            <li>Permission is granted to download the materials (information or software) on
                PrivacySpy (Politiwatch, Inc.)'s website for non-commercial viewing only. This is
                the grant of a license, not a transfer of title, and under this license you may not:
                <ol type="i">
                    <li>modify or copy the materials;</li>
                    <li>use the materials for any commercial purpose;</li>
                    <li>remove any copyright or other notations from the materials; or</li>
                </ol>
            </li>
            <li id="cc">The content of this website, except that content which is clearly drawn from some other source
                (and
                therefore made available under a different license) shall be licensed according to CreativeCommons
                NC-BY-SA (<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
                        alt="Creative Commons License" style="border-width:0"
                        src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>).</li>
            <li>By uploading or otherwise providing information to PrivacySpy, you grant PrivacySpy the right to
                store and, when intended, publicly display that information under the license described above. For
                details about your data, please see our Privacy Policy.
            </li>
        </ol>
        <h3>3. Disclaimer</h3>
        <ol type="a">
            <li>The materials on PrivacySpy (Politiwatch, Inc.)'s website are provided on an 'as is' basis. PrivacySpy
                (Politiwatch, Inc.) makes no warranties, expressed or implied, and hereby disclaims and negates all
                other warranties including, without limitation, implied warranties or conditions of merchantability,
                fitness for a particular purpose, or non-infringement of intellectual property or other violation of
                rights.</li>
            <li>The materials on PrivacySpy (Politiwatch, Inc.)'s website are not legal advice. PrivacySpy does not
                provide legal advice in any capacity.</li>
            <li>Further, PrivacySpy (Politiwatch, Inc.) does not warrant or make any representations concerning the
                accuracy, likely results, or reliability of the use of the materials on its website or otherwise
                relating to such materials or on any sites linked to this site.</li>
            <li>Some of the content on PrivacySpy is user-generated. While PrivacySpy will make a good-faith effort
                to moderate its user generated content, it is not responsible for it. (If you find something
                that shouldn't be here, please <a href="mailto:secure@politiwatch.org">let us know</a> immediately.)
            </li>
        </ol>
        <h3>4. Limitations</h3>
        <p>In no event shall PrivacySpy (Politiwatch, Inc.) or its suppliers be liable for any damages (including,
            without limitation, damages for loss of data or profit, or due to business interruption) arising out of the
            use or inability to use the materials on PrivacySpy (Politiwatch, Inc.)'s website, even if PrivacySpy
            (Politiwatch, Inc.) or a PrivacySpy (Politiwatch, Inc.) authorized representative has been notified orally
            or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on
            implied warranties, or limitations of liability for consequential or incidental damages, these limitations
            may not apply to you.</p>
        <h3>5. Accuracy of materials</h3>
        <p>The materials appearing on PrivacySpy (Politiwatch, Inc.)'s website could include technical, typographical,
            or photographic errors. PrivacySpy (Politiwatch, Inc.) does not warrant that any of the materials on its
            website are accurate, complete or current. PrivacySpy (Politiwatch, Inc.) may make changes to the materials
            contained on its website at any time without notice. However PrivacySpy (Politiwatch, Inc.) does not make
            any commitment to update the materials.</p>
        <h3>6. Links</h3>
        <p>PrivacySpy (Politiwatch, Inc.) has not reviewed all of the sites linked to its website and is not responsible
            for the contents of any such linked site. The inclusion of any link does not imply endorsement by PrivacySpy
            (Politiwatch, Inc.) of the site. Use of any such linked website is at the user's own risk.</p>
        <h3>7. Modifications</h3>
        <p>PrivacySpy (Politiwatch, Inc.) may revise these terms of service for its website at any time, though users
            will
            be notified of any substantial modifications.
            By using this website you are agreeing to be bound by the then current version of these terms of service.
        </p>
        <h3>8. Governing Law</h3>
        <p>These terms and conditions are governed by and construed in accordance with the laws of New York and you
            irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        <hr>
        <h2>Privacy Policy</h2>
        <p class="has-text-grey">Updated September 13th, 2019.</p>
        <p>Your privacy is (obviously) important to us. It is PrivacySpy (Politiwatch, Inc.)'s policy to respect your
            privacy
            regarding any information we may collect from you across our website, <a
                href="https://privacyspy.org">https://privacyspy.org</a>, and other sites we own and operate.</p>
        <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair
            and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it
            will be used.</p>
        <p>We collect the following data:</p>
        <ul>
            <li>Your email address and name (when you sign up for an account)</li>
            <li>Your IP address and browser "user agent" (in logs, which are periodically rotated)</li>
            <li>Your actions performed on the website (edits, suggestions, and profile changes)</li>
            <li>Aggregate website usage statistics (page views, general geographic breakdowns, device types)</li>
        </ul>
        <p>We only retain collected information for as long as necessary to provide you with your requested service.
            What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
            unauthorised access, disclosure, copying, use or modification.</p>
        <p>We don’t share any personally identifying information publicly or with third-parties, except when required to
            by a subpoena or valid court order, or when you explicitly publish that information on our platform yourself.</p>
        <p>We do not collect any personal information except that which you give yourself to the site, however we will
            nonetheless make a best-effort attempt to respect Do Not Track (DNT) browser requests.</p>
        <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control
            over the content and practices of these sites, and cannot accept responsibility or liability for their
            respective privacy policies.</p>
        <p>You are free to refuse our request for your personal information, with the understanding that we may be
            unable to provide you with some of your desired services.</p>
        <p>If we learn of a data breach, we will notify all affected users within 72 hours of discovery.</p>
        <p>To ensure security, all our data is encrypted at rest and in transit.</p>
        <p>You may delete all of your personal information from our systems by using the 'Delete Account' tool in your
            profile. If you do not have an account, we do not have any of your personal information.</p>
        <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal
            information. If we modify this privacy policy in any significant way, we will notify all users via email. If
            you have any questions about how we handle user data and personal information, feel free to
            contact us.</p>
    </div>
</div>
{% endblock %}