<!DOCTYPE html>
<html>

<head>
  {{> includes/head }}
</head>

<body class="antialiased">
  {{#> precontent }}
  {{/precontent}}
  <div class="container relative max-w-screen-lg min-h-screen px-6 pt-2 mx-auto md:px-12">
    {{> includes/navbar }}
    <hr class="sep" />
    <hr class="sep" />
    {{#> content }}
    {{/content}}
    <hr class="pb-32 sep" />
    {{> includes/footer }}
  </div>
</body>

</html>