{{#> layouts/base title="Rating, annotating, and archiving privacy policies"}}

{{#*inline "content"}}
<div class="mx-4 md:mx-0">
  <div class="relative w-full my-12 md:pl-8 md:w-2/3 md:mx-auto">
    <h1 class="text-5xl font-extrabold leading-none text-center sm:text-left">We track online privacy.</h1>
    <div class="mt-8 sm:mt-6">
      PrivacySpy is an open project to <b>grade</b> and <b>monitor</b> privacy policies for convenience and
      accountability.
      <a href="/about/" class="text-gray-400 hover:text-blue-500">Learn about our mission&nbsp;&rarr;</a>
    </div>
    <div class="absolute top-0 right-0 -mt-24 -z-1" style="height: 20rem; width: 20rem">
      <img src="/static/img/fingerprint.png">
    </div>
  </div>

  <hr class="h-16 sep">

  <div class="grid gap-6 sm:hidden">
    {{#each (first featured 3) as |product|}}
    {{> includes/card product=product }}
    {{/each}}
  </div>

  <div class="hidden grid-cols-2 gap-6 md:grid-cols-3 sm:grid">
    {{#each featured as |product|}}
    {{> includes/card product=product }}
    {{/each}}
  </div>

  <div class="flex justify-center mt-8">
    <div class="font-medium text-blue-500 text-md">
      <a href="/directory">
        Explore the full directory &rarr;
      </a>
    </div>
  </div>

  <div class="w-full mt-16 md:w-2/3 md:mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="w-full font-semibold text-center md:w-1/4 md:text-left">
        Fair and Simple
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0 content">
        <p>Most people don't have the patience to read privacy policies. But privacy is important, and we shouldn't just trust that products are treating our data right. PrivacySpy uses a consistent rubric to grade privacy policies on a ten-point scale.</p>
        <a href="/about/" class="block text-center text-gray-600 no-underline md:text-left">Learn how PrivacySpy works &rarr;</a>
      </div>
    </div>
    <div class="flex flex-col mt-8 md:flex-row">
      <div class="w-full font-semibold text-center md:w-1/4 md:text-left">
        Community Led
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0 content">
        <p>PrivacySpy is completely open source, and maintained by a team of volunteers. If you want to correct an error, add a product to the database, or suggest any kind of improvement, you can!</p>
        <a href="/contribute/" class="block text-center text-gray-600 no-underline md:text-left">Learn how to contribute &rarr;</a>
        <a href="/contributors/" class="block text-center text-gray-600 no-underline md:text-left">Check out our contributors &rarr;</a>
      </div>
    </div>
    <div class="flex flex-col mt-8 md:flex-row">
      <div class="w-full font-semibold text-center md:w-1/4 md:text-left">
        Open Access
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0 content">
        <p>As part of our mission to make privacy more accessible, we offer a free browser extension and API that anyone can use to interact with our data.</p>
        <a href="/api/" class="block text-center text-gray-600 no-underline md:text-left">Explore the API &rarr;</a>
        <a href="/extension/" class="block text-center text-gray-600 no-underline md:text-left">Install the extension &rarr;</a>
      </div>
    </div>
    <div class="flex flex-col mt-8 md:flex-row">
      <div class="w-full font-semibold text-center md:w-1/4 md:text-left">
        Non-Profit
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0 content">
        <p>PrivacySpy is a project of Politiwatch, a registered 501(c)(3) organization. We're grateful to everyone who has helped make PrivacySpy possible, whether by providing financial support or gratis services. <a href="https://netlify.com" class="no-underline" rel="noopener nofollow">This site is powered by Netlify.</a></p>
        <a href="https://www.patreon.com/m/politiwatch" class="block text-center text-gray-600 no-underline md:text-left">Donate to Politiwatch &rarr;</a>
      </div>
    </div>
  </div>


</div>
{{/inline}} {{/layouts/base}}