{{#> layouts/base title="Rating, annotating, and archiving privacy policies"}}

{{#*inline "content"}}
<div class="mx-4 md:mx-0">
  <div class="relative w-full my-12 md:pl-8 md:w-2/3 md:mx-auto">
    <h1 class="text-5xl font-extrabold leading-none text-center sm:text-left">We track online privacy.</h1>
    <div class="mt-8 sm:mt-6">
      PrivacySpy is an open project to <b>grade</b> and <b>monitor</b> privacy policies for convenience and
      accountability.
      <a href="/about" class="text-gray-400 hover:text-blue-500">Learn about our mission &rarr;</a>
    </div>
    <div class="absolute top-0 right-0 -mt-24 -z-1" style="height: 20rem; width: 20rem">
      <img src="/static/img/fingerprint.png">
    </div>
  </div>

  <hr class="h-16 sep">

  <div class="grid gap-6 sm:hidden">
    {{#each (first featured 3) as |product|}}
    {{> includes/card product=product }}
    {{/each}}
  </div>

  <div class="hidden grid-cols-2 gap-6 md:grid-cols-3 sm:grid">
    {{#each featured as |product|}}
    {{> includes/card product=product }}
    {{/each}}
  </div>

  <div class="flex justify-center mt-8">
    <div class="font-medium text-blue-500 text-md">
      <a href="/directory">
        Explore the full directory &rarr;
      </a>
    </div>
  </div>

  <div class="w-full mt-16 md:w-2/3 md:mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="w-full font-bold text-center text-md md:w-1/4 md:text-left">
        Consistent &#x26; Transparent
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </div>
    </div>
    <div class="flex flex-col mt-8 md:flex-row">
      <div class="w-full font-bold text-center text-md md:w-1/4 md:text-left">
        Monitored by Community
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </div>
    </div>
  </div>


</div>
{{/inline}} {{/layouts/base}}