{{#> layouts/base title="Rating, annotating, and archiving privacy policies" }}

{{#*inline "content"}}
<div class="mx-4 md:mx-0">
  <div class="relative w-full md:w-2/3 md:mx-auto">
    <h1 class="text-5xl font-bold leading-none text-center sm:text-left">We track online privacy.</h1>
    <div class="mt-8 sm:mt-6">
      PrivacySpy is a community-maintained project to <b>grade</b> &#x26; <b>monitor</b> privacy policies.
      <a href="/about" class="text-gray-300 hover:text-blue-500">Here’s why that matters &rarr;</a> </span>
    </div>
    <div class="absolute top-0 right-0 -mt-24 -z-1" style="height: 20rem; width: 20rem">
      <img src="/static/img/fingerprint.png">
    </div>
  </div>

  <div class="hidden gap-6 mt-16 sm:grid sm:block sm:grid-cols-2 lg:grid-cols-3">
    {{#each featured as |product|}}
    {{> includes/card product=product }}
    {{/each}}
    <!-- four extra for temporary purposes-->
    {{#each featured as |product|}}
    {{> includes/card product=product }}
    {{/each}}
    {{#each featured as |product|}}
    {{> includes/card product=product }}
    {{/each}}
    <!-- -->
  </div>

  <div class="flex justify-center">
    <div class="w-auto px-3 py-1 mx-auto mt-8 font-medium text-white bg-blue-500 rounded cursor-pointer select-none">
      <a href="/directory">
        Explore {{product_count}} Products
      </a>
    </div>
  </div>

  <div class="w-full mt-16 md:w-2/3 md:mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="w-full font-bold text-center text-md md:w-1/4 md:text-left">
        Consistent &#x26; Transparent
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </div>
    </div>
    <div class="flex flex-col mt-8 md:flex-row">
      <div class="w-full font-bold text-center text-md md:w-1/4 md:text-left">
        Consistent &#x26; Transparent
      </div>
      <div class="w-full mt-3 text-sm md:w-3/4 md:mt-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </div>
    </div>
    <hr class="my-8 border-gray-100">

    <div class="text-xl font-medium text-center ">How do I contribute?</div>
    <p class="mt-3 text-sm">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
    <div class="flex justify-center">
      <div
        class="w-auto px-3 py-1 mx-auto mt-8 text-black rounded shadow cursor-pointer select-none hover:text-blue-500">
        <a href="/directory">
          Contribution Guide
        </a>
      </div>
    </div>
  </div>


</div>
{{/inline}} {{/layouts/base}}