{{#> layouts/base title="Terms & Privacy" }}

{{#*inline "content"}}
<main class="max-w-2xl mx-auto content">
  <h1 class="text-5xl font-extrabold mb-8">Terms &amp; Privacy</h1>
  {{{md "TERMS_AND_PRIVACY.md"}}}
</main>
{{/inline}}
{{/layouts/base}}