{{#> layouts/base title="Terms & Privacy" }}

{{#*inline "content"}}
<main class="max-w-2xl mx-auto content">
  <p></p>
  <h1 class="mb-4 text-5xl font-extrabold">Terms &amp; Privacy</h1>
  {{{md "TERMS_AND_PRIVACY.md"}}}
</main>
{{/inline}}
{{/layouts/base}}