{{#> layouts/base title="Code of Conduct" }}

{{#*inline "content"}}
<main class="max-w-2xl mx-auto content">
  {{#markdown}}
  <h1 class="mb-4 text-5xl font-extrabold">API Access</h1>
  We're happy to maintain an open API that you can use to incorporate PrivacySpy into your own application. So long as you follow our [Terms](/terms-and-privacy/) and attribute the information back to PrivacySpy, you can use the data however you wish.

  The an index of the PrivacySpy database is published at `/api/v2/index.json`.
  
  > Want another endpoint? PrivacySpy is open source, so you can <a href="/contribute/">build it yourself</a>!
  {{/markdown}}
</main>
{{/inline}}
{{/layouts/base}}