<footer class="absolute bottom-0 left-0 right-0 pb-6 mx-6 border-t border-gray-100 md:mx-12">
  <div class="flex flex-col items-center justify-between mt-4 text-xs md:flex-row">
    <div class="flex flex-row order-2 mt-4 md:order-1 md:mt-0">
      <div>&copy; {{year}}
        <a href="https://politiwatch.org/" class="hover:text-blue-500">Politiwatch</a>
      </div>
      <div class="ml-6">
        <a href="/terms-and-privacy/" class="hover:text-blue-500">Terms &amp; Privacy</a>
      </div>
      <div class="ml-6">
        <a href="/conduct/" class="hover:text-blue-500">Code of Conduct</a>
      </div>
    </div>
    <div class="order-1 md:order-2">
      <a href="https://github.com/politiwatch/privacyspy" target="_blank">
        <img src="/static/img/logo-black.svg" class="w-12 h-12 md:w-10 md:h-10 opacity-10 hover:opacity-20">
      </a>
    </div>
    <div class="flex flex-row order-3 mt-4 md:mt-0">
      <div class="mr-6">
        <a href="https://creativecommons.org/licenses/by/4.0/" class="hover:text-blue-500">CC BY</a>
      </div>
      <div class="mr-6">
        <a href="/api/" class="hover:text-blue-500">API</a>
      </div>
      <div class="mr-6">
        <a href="/contributors/" class="hover:text-blue-500">Contributors</a>
      </div>
      <div>
        Built by
        <a href="https://miles.land" class="hover:text-blue-500">Miles</a>
        and
        <a href="https://igor.fyi" class="hover:text-blue-500">Igor</a>
      </div>
    </div>
  </div>
</footer>