<title>
    {{title}} | PrivacySpy
</title>
<link rel="stylesheet" href="static/css/base.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="static/img/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
<link href="static/img/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
<link color="#4d77ff" href="static/img/safari-pinned-tab.svg" rel="mask-icon" />
<link href="static/img/favicon.ico" rel="shortcut icon" />
<meta content="#2d89ef" name="msapplication-TileColor" />
<meta content="static/img/browserconfig.xml" name="msapplication-config" />
<meta content="#ffffff" name="theme-color" />
<link href="https://chrome.google.com/webstore/detail/ppembnadnhiknioggbglgiciihgmkmnd" rel="chrome-webstore-item" />
<meta
    content="PrivacySpy is an open project to rate, annotate, and archive privacy policies. Let's make informed data privacy decisions."
    name="description" />
<meta content="Rating, annotating, and archiving privacy policies | PrivacySpy" property="og:title" />
<meta content="http://privacyspy.org/" property="og:url" />
<meta
    content="PrivacySpy is an open project to rate, annotate, and archive privacy policies. Let's make informed data privacy decisions."
    property="og:description" />
<meta content="https://privacyspy.org/static/core/img/graphic.png" property="og:image:secure_url" />
<meta content="PrivacySpy" property="og:site_name" />
<meta content="privacyspy.org" name="twitter:domain" />
<meta content="Rating, annotating, and archiving privacy policies | PrivacySpy" name="twitter:title" />
<meta content="http://privacyspy.org/" name="twitter:url" />
<meta
    content="PrivacySpy is an open project to rate, annotate, and archive privacy policies. Let's make informed data privacy decisions."
    name="twitter:description" />
<meta content="https://privacyspy.org/static/core/img/graphic.png" name="twitter:image" />
<meta content="https://privacyspy.org/static/core/img/graphic.png" property="og:image" />
<script src="static/js/navbar.js"></script>