<div style="z-index: 10;" class="inline-block">
    <div class="info" tabindex="0">
        <i class="text-gray-400 fas fa-info-circle fa-sm cursor-help"></i>
        <span class="infotext">{{this}}</span>
    </div>
</div>