<div id="navbar" class="relative">
  <header class="h-12 md:flex md:justify-between sm:items-center sm:px-4 md:px-0 sm:py-8">
    <div class="flex items-center justify-between py-3 sm:p-0">
      <a href="/">
        <div class="mr-6 select-none">
          <h3 class="text-lg">
            <p class="font-medium">PrivacySpy</p>
          </h3>
        </div>
      </a>
      <div class="md:hidden">
        <button type="button" class="block text-gray-600 hover:text-gray-800 focus:text-white focus:outline-none"
          id="dropdown-button">
          <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" data-target="nav-menu">
            <path id="burger" fill-rule="evenodd"
              d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
              style="display: none;" />
            <path id="cross" fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
          </svg>
        </button>
      </div>
    </div>
    <div id="nav-menu" class="hidden md:block">
      <div
        class="absolute right-0 items-center inline-block p-4 bg-white border border-gray-100 rounded shadow-lg font-regular md:float-none md:static md:p-0 md:flex md:bg-none md:border-none md:shadow-none">
        <a href="/directory/" class="block mr-12 md:pt-0 hover:text-blue-500">Directory</a>
        <span onclick="installBrowserExtension()"
          class="block pt-2 mr-12 cursor-pointer md:pt-0 hover:text-blue-500">Extension</span>
        <a href="/contribute/" class="block pt-2 mr-12 md:pt-0 hover:text-blue-500">Contribute</a>
        <a href="/about/" class="block pt-2 md:pt-0 hover:text-blue-500">About</a>
      </div>
    </div>
  </header>
</div>