<div class="w-2/3 md:relative sm:w-full" style="z-index: 10;">
    <button class="p-1 text-gray-600 outline-none appearance-none fas fa-search sm:hidden dropdown-toggler"
        title="Open search..." tabindex="0" onclick="toggleMobileDropdown('search-container')"></button>
    <div class="hidden mobile-dropdown focus-within:block sm:block" id="search-container">
        <input
            class="absolute right-0 w-full h-8 px-2 py-1 mt-4 placeholder-gray-400 border border-gray-200 rounded outline-none appearance-none sm:w-64 search-container-focus sm:mt-0 md:inset-auto sm:block sm:static hover:border-gray-300 focus:border-gray-400"
            type="search" placeholder="Search (press /)" id="searchBox" oninput="onSearchInput()">
        <div class="absolute right-0 hidden w-full mt-16 bg-white border border-gray-200 rounded sm:w-64 sm:inset-auto sm:mt-2 hover:border-gray-300 mobile-dropdown"
            id="searchDropdown">
            <div id="searchNoResults" class="hidden p-2 text-gray-600 sm:text-sm">No results. Try another query.</div>
            <div class="hidden p-2" id="searchResults"></div>
        </div>
    </div>
</div>