<div class="relative" style="z-index: 10;">
    <input class="input ~neutral !low h-8" type="search" placeholder="Search (press /)" id="searchBox"
        oninput="onSearchInput()">
    <div class="absolute hidden w-full mt-2 bg-white border border-gray-100 rounded shadow" id="searchDropdown">
        <div id="searchNoResults" class="hidden p-2 text-sm text-gray-600">No results. Try another query.</div>
        <div class="hidden p-2" id="searchResults">

        </div>
    </div>
</div>