.link {
  padding-bottom: 1px;
  text-decoration: none;
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 200%;
  background-position: 0 0;
  word-break: break-word;
}

.blue-link {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 4px),
    hsl(207, 90%, 54%) calc(50% - 4px),
    hsl(217, 90%, 54%) 100%
  );
}

@variants hover, focus {
  .blue-link-accent {
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(50% - 4px),
      hsl(207, 90%, 49%) calc(50% - 4px),
      hsl(217, 90%, 49%) 100%
    );
  }
}
