{{#> layouts/base title="Code of Conduct" }}

{{#*inline "content"}}
<main class="max-w-2xl mx-auto content">
  <p></p>
  <h1 class="mb-4 text-5xl font-extrabold">Code of Conduct</h1>
  {{{md "CODE_OF_CONDUCT.md"}}}
</main>
{{/inline}}
{{/layouts/base}}