{{#> layouts/base title="Code of Conduct" }}

{{#*inline "content"}}
<main class="max-w-2xl mx-auto content">
  <h1 class="text-5xl font-extrabold mb-8">Code of Conduct</h1>
  {{{md "CODE_OF_CONDUCT.md"}}}
</main>
{{/inline}}
{{/layouts/base}}