.highlights {
    max-width: 40em;
}
 
.tab-helper {
    color: gray !important;
    padding-right: 1em;
}

.rating-total {
    color: gray !important;
    font-weight: normal;
}

.policy-column-stat {
    margin-bottom: 1em;
}

.policy-column-stat heading {
    margin-bottom: 2px;
}

.selection-overview {
    cursor: pointer;
}

.selection-expanded {
    display: none;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    .reverse-order-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

.policy-score {
    font-size: 125% !important;
}