@font-face {
    font-family: 'Inter';
    src: url('/static/core/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/core/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/core/fonts/Inter-Light.woff2') format('woff2');
    font-weight: 200;
}

@keyframes loadingblink {
    0% {
        background: rgba(0, 0, 0, 0.04);
    }

    50% {
        background: rgba(0, 0, 0, 0.06);
    }

    100% {
        background: rgba(0, 0, 0, 0.04);
    }
}

.is-80-percent {
    max-width: 80% !important;
}

.beta {
    font-size: 12px;
}

.is-40-width {
    max-width: 40em;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.is-collapsed {
    max-height: 64em;
    overflow: hidden;
    cursor: pointer;
}

.is-margined {
    margin: 10px;
}

.is-upped {
    top: -5px;
    position: relative;
}

.is-upped-slight {
    top: -3px;
    position: relative;
}

body {
    font-family: 'Inter', sans-serif;
}

.top-pad {
    padding-top: 8px;
}

.highlights {
    line-height: 180%;
}

.search-input {
    border: none;
    border-radius: 0px;
    box-shadow: none !important;
    padding-left: 0px !important;
    border-bottom: 1px solid #cacaca;
}

.tab-helper {
    color: gray !important;
    padding-right: 1em;
}

.is-rounded {
    border-radius: 5px !important;
}

.rating-total {
    font-weight: normal;
}

.is-small-margin {
    margin-bottom: 0.4em !important;
}

.policy-column-stat {
    margin-bottom: 1em;
}

.policy-column-stat heading {
    margin-bottom: 2px;
}

.selection-overview {
    cursor: pointer;
}

.selection-expanded {
    display: none;
}

.policy-score {
    font-size: 125% !important;
}

.landing-invisible-text {
    background-color: rgba(0, 0, 0, 0.05);
    animation: loadingblink infinite ease-in-out 1s;
    -webkit-animation: loadingblink 1s ease-in-out infinite
}

.is-selected {
    border: 1.5px solid gray !important;
    border-radius: 6px;
    padding: 6px;
}

.landing-visible-text {
    background: linear-gradient(45deg, #4FC3F7, #29B6F6);
    color: white;
    margin-right: 5px;
    margin-left: 10px;
    padding: 3px 5px;
    border-radius: 2px;
}

.card {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 2px;
}

.card-header {
    padding: 6px 0px;
    margin-bottom: 15px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
    display: block;
    background: linear-gradient(45deg, #F06292, #EC407A);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    border-radius: 2px;
}

.card-description {
    font-family: "Inter-Regular", sans-serif;
    font-size: 0.9rem;
}

.pad {
    margin-bottom: 0.5em;
}

.massive {
    font-size: 400%;
}

.massive.subtitle {
    font-size: 200%;
}

@media(min-width: 769px) {
    .is-slightly-right {
        padding-left: .13em !important;
    }
}

@media(min-width: 1024px) {
    .highlights {
        max-width: 40em;
    }

}

@media(max-width: 768px) {
    .reverse-order-columns {
        flex-direction: column-reverse;
        display: flex;
    }

    .is-centered-mobile {
        text-align: center;
    }

    .image.is-96x96 {
        height: 96px;
        width: 96px;
        margin: auto;
    }

    .title {
        text-align: center;
    }

    .subtitle {
        padding-top: 10px;
        text-align: center;
        font-size: 20px !important;
    }

    .policy-column-stat {
        display: inline-block;
        width: 200px;
        margin-bottom: 1em;
    }
}

@media(max-width: 1023px) {
    .massive {
        font-size: 300% !important;
    }

    .massive.subtitle {
        font-size: 150% !important;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .display-block-mobile {
        display: block;
    }

    .margin-auto-mobile {
        margin: auto;
    }

    .product-box-title-mobile {
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
    }
}

@media(max-width:384px) {
    .display-block-mobile {
        display: block;
    }

    .margin-auto-mobile {
        margin: auto;
    }

    .product-box-title-mobile {
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
    }
}

.is-borderless {
    border: none !important;
}

.infopane {
    line-height: 1.75em;
    font-size: 110%;
}

.min-width-20 {
    min-width: 20em;
}

.save-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    max-width: 400px;
    display: none;
}

.has-margin-bottom {
    margin-bottom: 18px;
}

.abbreviated {
    max-height: 300px;
    overflow-y: auto;
}