.tagline-highlight {
    color: #b603b6;
    font-weight: bold !important;
}

#titlepane {
    max-width: 64em;
    margin: auto;
}

@media(min-width: 769px) {
    #header-subtitle {
        font-size: 150% !important;
    }
}

.is-downward {
    padding-top: 25px;
}

.homepage-image {
    max-width: 300px;
}