.tagline-highlight {
    background-color: #fd2ffd50;
    padding: 2px;
    border-radius: 3px;
}

#titlepane {
    max-width: 60em;
    margin: auto;
}

@media(min-width: 769px) {
    #header-subtitle {
        font-size: 150% !important;
    }
}

.is-downward {
    padding-top: 25px;
}

.homepage-image {
    max-width: 300px;
}